$bgMainColor: #f3f7fa;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorDark: #4a4a4a;
$colorHover: #f1fcff;
$colorBorderNotCheck: #9abbce;
$colorBorderCheck: #2196f3;
$colorBorderPrice: #dfe5ec;
$colorSecondary: #a0b0b9;

$borderNotCheck: 1px solid $colorBorderNotCheck;
$borderCheck: 1px solid $colorBorderCheck;
$borderFilterPrice: 1px solid #dfe5ec;

$fontSizeES: 12px;
$fontSizeS: 13px;
$fontSizeM: 14px;
$fontSizeL: 24px;

$customCursor: url('../../assets/img/cursor.png'), pointer;
$customCheck: url('../../assets/img/shape.png');

$shadowCart: 0px 2px 8px rgba(0, 0, 0, 0.1);

$fontWeightNormal: 400;
$fontWeightBold: 600;
