.cart-ticket {
	width: 100%;
	margin-bottom: 20px;
	background-color: $colorWhite;
	border-radius: 5px;
	box-shadow: $shadowCart;
	padding: 20px;
	&:first-child {
		margin-top: 20px;
	}
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 36px;
		padding-bottom: 10px;
		padding-right: 30px;
		& .price {
			@include fontFamily(600);
			font-size: $fontSizeL;
			color: $colorBorderCheck;
			width: calc(100% * 2 / 3);
		}
		& .img {
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: calc(100% / 3 - 20px);
			& img {
				object-fit: cover;
			}
		}
	}
}
